<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel House Hunter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1 class="textCenter">Lista habitaciones</h1>
  <div class="container">
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado ocupado">
          <span>Ocupado</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="{{url_for('static', filename='images/hotel.jpg')}}" alt="">

      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado noDisponible">
          <span>No disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="static/image/hotel.jpg" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> 324</p>
          <p><span class="txtBold">Tipo habitación:</span> Suite</p>
          <p><span class="txtBold">Capacidad: </span>4 personas</p>
          <p><span class="txtBold">Precio:</span> $1000</p>
        </div>
        <div class="estado disponible">
          <span>Disponible</span>
        </div>
      </div>
    </div>
  </div>
 
  
</body>
</html>