<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel House Hunter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1 class="textCenter">Lista habitaciones</h1>
  <div class="container">
    {% for habitacion in habitaciones %}
    <div class="cardContainer">
      <div class="cardImgContainer">
        <img src="{{ url_for('static', filename='images/' + habitacion.imagen) }}" alt="">
      </div>
      <div class="cardInfoContainer">
        <div class="cardTextContainer">
          <p><span class="txtBold">Número habitación:</span> {{ habitacion.numero}}</p>
          <p><span class="txtBold">Tipo habitación:</span> {{ habitacion.tipo_habitacion.nombre }}</p>
          <p><span class="txtBold">Capacidad:</span> {{ habitacion.capacidad}} personas</p>
          <p><span class="txtBold">Precio:</span> ${{ habitacion.precio }}</p>
        </div>
        <div class="estado {{ habitacion.estado.descripcion|lower }}">
          <span>{{ habitacion.estado.descripcion }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
 
  
</body>
</html>